/*css reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*styles du site*/

@font-face {
    font-family: Raleway;
    src:url(font/Raleway-VariableFont_wght.ttf);
    }

html {
    font-family: Raleway;
}
h2 {

    font-size: 25px;
    font-weight:bold;
}
h4{
    font-size: 19px;
    font-weight:1000;
}
h3{
    font-size:22px;
    font-weight:1000;
}
h5{
    font-size:16px;
}
h2 span{
    font-size: 20px;
    font-weight:normal;
}
a {
    text-decoration: none;
    color:black;
}
.logo {
    width: 25%;
    }
/* style navigation header principal */
nav ol{
    font-size: 20px;
}
a.inscription {
    color:#0065FC;
    font-weight:bold;
}
nav ol a:hover{
    color: #0065FC;
    font-weight:500;
    border-top: 2px solid #0065FC;
}
nav ol a.inscription:hover{
    color:black;
    border-top: none;
    font-weight: 1000;
    text-decoration: underline;
}


/*styling filters*/

#filtres ol li a {

    font-weight: 1000;
    font-size: 20px;
    
}



/*styling searchbar and button*/

.search {
    font-family: Raleway;
    font-weight: 1000;
    font-size: 18px;
    width: 250px;
    height: 45px;
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 1px;
}
.button {
    font-family: Raleway;
    font-weight: 1000;
    font-size: 18px;
    color: white; 
    background-color: #0065FC;
    width: 130px;
    height: 45px;
    padding: 10px;
    border: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    
}
#map {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    width:45px;
    height:45px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
form {
    display: flex;
}

/* positionnement global*/

#miseenpage{
    width: 95%;
    margin:auto;
}
/* Mise en page Header principal*/


#mheader {
height: 200px;
display: flex;
justify-content: space-between;
}

 #maintitle {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Mise en page navigation header principale*/

nav {
    width:30%;
    height: 100px;
}
nav ol {
    display:flex;
    justify-content: space-around;
    
}
nav ol a {
    display: block;
    padding:35px;
    padding-top: 50px;
    }

/* Mise en page Section2 barre recherche et filtres*/

#section1{
    height: 170px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.h3filtre{
    display:flex;
    align-items: center;
    justify-content: center;
}
#filtres{
    display: flex;
    justify-content: space-between;
    
    }
#filtres ol {
   
    display: flex;
    justify-content: space-around;
    list-style-type:none;
       
        
        }
#filtres ol li{
    margin-right:10px;
    }
#filtres ol li a {
    position: relative;
    left: -135px;
    top:3px;
    border: 2px solid #F2F2F2 ;
    display:inline-block;
    padding: 20px;
    padding-left: 70px;
    border-radius: 30px;
    border-left: -40px;
        
    }
#filtres ol li a:hover{
    border-color: #0065FC;
    color: #0065FC;
        
    }
    




