                            /*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
                                /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
                                /*styles du site*/
@font-face {
    font-family: Raleway;
    src:url(font/Raleway-VariableFont_wght.ttf);
    }
html {
    font-family: Raleway;
}
h2 {

    font-size: 25px;
    font-weight:bold;
}
h4{
    font-size: 19px;
    font-weight:bold;
}
h3{
    font-size:19px;
    font-weight:bold;
}
h5{
    font-size:16px;
}
h2 span{
    font-size: 18px;
    font-weight:normal;
}
a {
    text-decoration: none;
    color:black;
}
.logo {
    width: 145px;
    min-width:100px;
    margin-top:10px;
    }
                                /*styles des icônes*/  
.fa-circle{
    color: #DEEBFF;
}
.fa-stack-1x{
        color:#0065FC;
        font-size: 0.75em;
    }
    .fa-star{
        color:#0065FC;
    }
    .fa-starg{
        color: #F2F2F2;
    }
                                /* style navigation header principal */
nav{
    font-size: 18px;
    margin-left:auto;
}
a.inscription {
    font-size: 18px;
    color:#0065FC;
    font-weight:bold;
    padding-top:40px;
}
nav a:hover{
    color: #0065FC;
    font-weight:500;
    border-top: 2px solid #0065FC;
}
 a.inscription:hover{
    color:black;
    border-top: none;
    font-weight: bold;
    text-decoration: underline;
}
                                /*styling filters*/
#filtres ol li a {

    font-weight: bold;
    font-size: 20px;
    
}
                                /*styling searchbar and button*/

.search {
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
    min-width: 160px;
    height: 45px;
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 1px;
}
.button {
    font-family: Raleway;
    font-weight: bold;
    font-size: 95%;
    color: white; 
    background-color: #0065FC;
    width: 100px;
    min-width:40px;
    height: 45px;
    padding: 10px;
    border: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    
}
.button i{
    display:none;
}
#map {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:45px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
form {
    display: flex;
    margin-top: 15px;
}
                                /* positionnement global*/
body{
    width: 95%;
    margin:auto;
    overflow-x: hidden;
}
                                /* Mise en page Header principal*/
header {
width:98%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
                                /* Mise en page navigation header principale*/
nav{
    display:flex;
    flex-wrap: nowrap;
    width: 300px;
    
}
nav a {
    padding:40px 20px 0px 20px;
    
    }
                                /* Mise en page Section1 barre recherche et filtres*/
#section1{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.h3filtre{
    display:flex;
    align-items: center;
    justify-content: center;
}
#filtres{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 85%;
    margin: 20px;
    margin-left:0;
    
    }
#filtres article {
    display: flex;
    flex-wrap:wrap;
    width: 94%;
    margin-top: 10px;
    
    }
#filtres article a{
    font-size:12px;
    margin-right: 30px;
    margin-bottom: 9px;
    border:2px solid #DCDCDC;
    border-radius: 60px;
    display:flex;
    align-items: center;
    padding-right: 25px;
    height: 44px;
    } 
#filtres article a span {
    position: relative;
    left: -10px;
    }
#filtres article a:hover {
    border-color: #0065FC;
    color: #0065FC;
    }
                                /*Mise en page section 2 hebergement et activités*/
#section2{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
    #section2 article {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width:60%;
        min-width: 200px;
        padding: 30px;
        border-radius: 20px;
        padding-right: 0px;
        margin-right:30px;

        }
    #hébergement{
        display: flex;
        flex-wrap: wrap;
    }
 .gallery {
     border: 5px solid white;
     box-shadow:2px 2px 9px lightgray;
     border-radius: 20px;
     margin: 15px;
     display: block;
     width:250px;
     height: 220px;
     background-color: white;
     transition: all .4s ease-in-out;
     
 }
 .gallery:hover, .gallery2:hover{
     transform:scale(1.06);
     
 }
 .gallery img{
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     width: 100%;
     height: 60%;
     object-fit: cover;
 }
 .gallery h4, .gallery p{
     padding: 10px;
     padding-bottom: 0px;

 }
 #section2 h3 {
     margin-top: 15px;
     transition: all .4s ease-in-out;

 }
 #section2 h3 a:hover{
     text-decoration:underline;
}
aside {
    width: 30%;
    min-width: 420px;
    background-color: #F2F2F2;
    padding: 30px;
    padding-top:38px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}
#asideheadline {
    display: flex;
    justify-content:space-between;
    width: 100%;
}
#asideheadline i{
    align-self: center;
}
.gallery2{
    border: 5px solid white;
    box-shadow:2px 2px 9px lightgray;
     border-radius: 20px;
     margin: 15px;
     margin-top: 25px;
     display: grid;
     grid-template-columns: 42% 58%;
     grid-template-rows: 80% 20%;
     width:400px;
     height: 150px;
     background-color: white;
     transition: all .4s ease-in-out;
}
.gallery2 img{
    grid-column: 1/2;
    grid-row:1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gallery2 div {
    grid-column:2/3;
    grid-row:1/2;
    margin:0;
    width:100%;
    height:100%;
    
}
.gallery2 h4{
    padding-top:15px;
    padding-left:15px;
}
.gallery2 div p{
    padding-left:15px;
    padding-top:10px;
}
.last-child{
grid-column: 2/3;
grid-row:2/3;
padding-left:15px;
padding-top:5px;
}
                                /*Mise en page section3 activité à marseille*/
#section3{
    margin-top: 50px;
    width: 100%;
}
.big {
    background-color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 300px;
    height: 450px;
    box-shadow:2px 2px 9px lightgray;
    margin: 10px;
}
.big img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    }
#activité h4 {
    padding: 15px;
    padding-bottom: 20px;
}
#pomegue {
    background-color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 300px;
    height: 220px;
    box-shadow:2px 2px 9px lightgray;
    margin:10px;
}
#pomegue img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;

}
#frioul{
    background-color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 300px;
    height: 180px;
    box-shadow:2px 2px 9px lightgray;
    margin: 10px;

}
#frioul img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;

}
#notredame{
    background-color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 300px;
    height: 180px;
    box-shadow:2px 2px 9px lightgray;
    margin: 10px;

}
#notredame img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
}
#longchamp {
    background-color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 300px;
    height: 230px;
    box-shadow:2px 2px 9px lightgray;
    margin: 10px;

}
#longchamp img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
}
#activité{
    margin-top: 40px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}
.deuxactivity{
    display:flex;
    flex-direction: column;
    justify-content:space-between;   
}
#section3 a{
    transition: all .4s ease-in-out;
}
#section3 a:hover {
    transform:scale(1.06);
}
                                /*footer*/
footer {
    
    background-color: #F2F2F2;
    margin: 50px -500%;
    margin-bottom: 0;
    padding: 0 500%;
   
    
}
footer article{
    padding-top: 30px;
    width: 75%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer article h3{
    padding-bottom: 10px;
}
footer article p{
    padding: 8px;
    padding-left: 0;
    font-size: 18px;
}
footer article div {
    margin: 10px;
}
footer a:hover {
    font-weight:500;
    text-decoration: underline;
}
                                /*Responsive design smartphone*/
@media screen and (max-width:560px)
{
    body,html{
        width:100vw;
        padding:0;
        margin: 0;
       
    }
     header, #section1, #section2, section, footer{
        width:100%;
        min-width:auto;
    } 
                                /*responsive header*/
    header{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-bottom:40px;
 
 }
 header .logo{
     grid-column: 1/2;
     grid-row:1/2;
     padding-left:20px;
 }
 header .inscription {
     grid-column: 2/3;
     grid-row: 1/2;
     justify-self: end;
     padding-right:20px;
 }
 header nav{
     width:100%;
     grid-column: 1/3;
     grid-row: auto;
     margin:0;
     padding:0;
     margin-top:35px;
     display: grid;
     grid-template-columns:50% 0 50%;
     grid-template-rows:100%;
     
     
 
 }
     a.griditem1{
         grid-column: 1/2;
         width:100%;
         text-align: center;
         padding-bottom:10px;
     }
     a.griditem2{
         grid-column: 3/4;
         width:100%;
         text-align: center;
         padding-bottom:10px;
         
     }
 nav a {
     padding:0;
     margin:0;
     border-bottom: 2px solid lightgray;
     
 }
 nav a:hover{
     border-top:none;
     border-bottom: 2px solid #0065FC;
     font-weight: bold;
 }
                                /*responsive searchbar et main header*/
 #section1 h2 {
     padding-left:20px;
 }
 #section1 h5{
     
     padding-left:15px;
     padding-right:15px;
 }
 form{
     
     justify-content: center;
     padding-left:20px;
     padding-right:20px;
 }
 form i{
     height:60px;
 }
 .search{
     width: 60%;
     height:50px;
 }
 .buttontext {
     display: none;
 }
 .button i{
     display:contents;
 }
 .button {
     width: 50px;
     height:50px;
     border-top-left-radius: 13px;
     border-bottom-left-radius: 13px;
     position:relative;
     left:-15px;
 }
     #map{
         height:50px;
         width:50px;
     }
 #filtres{
     width:90%;
     padding-left:20px;
 }
 #filtres article a{
     font-size:14px;
     margin-right: 11px;
     margin-bottom: 9px;
     padding-right: 17px;
     height: 51px;
     
     } 
 #filtres article{
     width:100%;
     }
     .h3filtre{
         margin-bottom:10px;
     }
                                /*responsive hebergement + activités*/
 #section2{
     flex-wrap:wrap-reverse;
 }
 #section2 article {
     width: 100%;
     min-width:auto;
     background-color: white;
     border-radius:0;
     padding:40px 0 30px 15px ;
     margin-right:0;
 }
 #section2 h2{
     padding-left: 10px;
 }
 .gallery {
     
     margin: 15px;
     margin-left:0;
     display: block;
     width:93%;
     height: 200px;
     font-size:15px;
     margin-top:5px;
 }
 #hébergement{
     margin-top: 20px;
 }
 .gallery h4{
     font-size:17px;
 }
 .gallery h4, .gallery p{
    padding: 10px;
    padding-bottom: 0px;
    padding-top:8px;
    
}
 aside{
     width:auto;
     min-width:auto;
     border-radius:0;
     padding:0 ;
     font-size:15px;
     margin:0;
     padding-bottom:35px;
 
 }
 aside h4 {
     font-size:17px;
 }
 #asideheadline{
     width:89%;
     padding-left:20px;
     padding-top:40px;
     margin-bottom:30px;
 }
 .gallery2{
     width: 90%;
     padding:none;
     margin:none;
     margin-top:0px;
 }
 #section3{
     width:100%;
     min-width:auto;
     margin-top: 20px;
     padding:0px 0 30px 0px ;
 }
 #section3 h2{
     padding-left:20px;
 }
 #section3 a{
     margin-left:20px;
     margin-right:0;
 } 
 .big, #pomegue, #frioul, #notredame, #longchamp{
     width: 90%;
     height: 200px;
     margin-top:5px;
 }
 .big img{
     height:75%;
 }
 #longchamp img {
     height:75%;
 }
 #activité{
     margin-top:30px;
 }
                                    /*responsive footer*/
 footer{
     width:100%;
     margin:0;
     padding:0;
       
     
 
 }
     footer article {
         padding-left:15px;
     }
}
                                 /*responsive tablet*/
@media screen and (min-width:560px) and (max-width:1200px)
{
    body{
        width:100%;
    }
                                /*responsive header et filtres*/
    div#filtres, div#filtres article{
        width:100%;
    }
    #filtres article, .h3filtre, .logo, form,#section1 h2{
        padding-left:20px;
    }
    #section1 h5{
        padding-left:15px;
    }
    form{
        justify-content: center;
    }
                                /*responsive hébergements et populaires*/
    #section2{
     flex-wrap:wrap-reverse;
    }
    aside{
        padding: 30px 0 0 25px;
        width:100%;
        height:350px;
        border-radius: 0;
        display:grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 10% 90%;
    }
    #asideheadline{
        width:40%;
        grid-column: 1/4;
        grid-row: 1/2;
        display:flex;
        align-self:center;

        
    }
    .gallery2{
    width:85%;
    height:75%;
    grid-template-columns: 50% 50%;    
    grid-template-rows: 50% 40% 10%;
    margin-left:0;
    }
    .gallery2 img{
        grid-column:1/3;
        grid-row: 1/2;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }
    .gallery2 div{
        grid-column:1/3;
        grid-row: 2/3;
    }
    p.last-child{
        grid-row: 3/4;
        grid-column: 1/3;
    }
#section2 article{
    width:100%;
    height:700px;
    border-radius: 0;
    background: white;
    display:grid;
    padding-left:25px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 5% 40% 40% 5%;
    padding-bottom:0;
    padding-right:0;
    margin-right:0;
}
article h2{
    grid-column: 1/4;
    grid-row:1/2;
}
#hébergement{
    grid-column: 1/4;
    grid-row: 2/4;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}
article h3{
    grid-column: 1/3;
    grid-row:4/5
}
.gallery{
    width: 85%;
    height:90%;
    margin: 0;
    margin-left:0px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 15% 23% 15%;
}
.gallery img{
    grid-row:1/2;
    height:100%;
}
.gallery h4 {
    grid-row: 2/3;
    grid-column: 1/2;
    width:97%;
}
.gallery p{
    grid-row:3/4;
    grid-column:1/2;
    width:100%;
}
.gallery .stars{
    grid-row:4/5;
    grid-column:1/2;
    
}
                            /*responsive activité*/
#section3{
    margin-top:0;
    margin-bottom:40px;
}
#section3 h2{
    padding-left:25px;
}
#activité {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50% 50%;
}
.big{
    margin-left:25px;
    width:85%;
}
.big img{
    height:88%;
}
.deuxactivity{
    height:100%;

    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
#pomegue,#frioul, #notredame, #longchamp{
    margin:0;
    margin-top:12px;
    width:85%;
    height:212px;
}
#longchamp img{
    height:75%;
}
                            /*responsive footer*/
    footer{
        width:100%;
        margin:0;
        padding:0;
          
        
    
    }
    footer article {
            padding-left:15px;
        }
}